:root {
    --bg: #0b1220;
    --card: #0f172a;
    --fg: #e5e7eb;
    --muted: #94a3b8;
    --line: #1f2937;
    --accent: #22d3ee;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: Inter, system-ui, Arial
}

.container-xl {
    max-width: 1200px
}

.provider-header {
    background: #0b1220;
    border-bottom: 1px solid var(--line);
    padding: .6rem 0
}

.provider-footer {
    border-top: 1px solid var(--line);
    padding: 1rem;
    text-align: center;
    color: var(--muted);
    margin-top: 3rem
}

.card-dark {
    background: var(--card);
    border: 1px solid var(--line);
    border-radius: 18px
}

.muted {
    color: var(--muted)
}

.btn-outline-light:hover {
    background: #1b2434;
    color: #fff
}

.btn-accent {
    background: var(--accent);
    color: #00202a;
    font-weight: 700;
    border: none
}
